.works{
    margin-top: 4rem;
    padding: 0 3rem;
    display: flex;
    height: 90vh;
}

.w-right{
    position: relative;
}

.w-mainCircle{
    height: 18rem;
    width: 18rem;
    left: 9rem;
    top: 2rem;
    position: relative;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    background-color: white;
}

.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle>:nth-child(1){
    top: -3rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(2){
    top: 5rem;
    left: -2rem;
}
.w-mainCircle>:nth-child(3){
    top: 5rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(4){
    top: 5rem;
    left: 15rem;
}
.w-mainCircle>:nth-child(5){
    top: 14rem;
    left: 6rem;
}

.w-secCircle{
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--smboxShadow);
    background: white;
}

.w-secCircle>img{
    transform: scale(0.6);
}

.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;
}

.blueCircle{
    background-color: #1949B8;
    top: 0;
    left: 18rem;
}

.yellowCircle{
    background-color: #F5C32C;
    top: 8rem;
    left: 18rem;
}

@media screen and (max-width : 480px){
    .works{
        flex-direction: column;
        height: 44rem;
        padding: 0;
        gap: 7rem;
    }
    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.8);
    }
    .w-mainCircle{
        position: static;
    }

    .w-backCircle{
        
        left: 8rem !important;
    }
}
